#gallery-div{
  margin: 10px 0;
  // position: relative;
}

#gallery-div > h2 {
  padding: 0 0 15px 0;
  font-weight: 700;
  font-size: 20px;
}



.photo-container{
  display: flex;
  overflow: auto;
}

.image-container > img{
  padding-right: 10px;
}


.image-container > img{
  width: 300px;
  height: 300px;
}














































































































// .photo-grid{
//   background-color: white;
//   height: 319px;
//   width: 100%;
//   display: flex;
//   margin: auto;
//   // box-sizing: content-box;
//     // align-items: stretch;
//   // align-content: stretch;

//   // overflow: hidden;
// }

// .gallery-photo-col-1{
//   // display: grid;
//   // grid-auto-rows: 50%;
//   width: 22.5%;
//   // flex: 1 1;
//   // align-content: stretch;
// }

// .gallery-photo-col-2{
//   // display: grid;
//   // grid-auto-rows: 100%;
//   width: 45%;
//   // flex: 1;
//   // align-content: stretch;

// }

// .gallery-photo-col-3{
//   // display: grid;
//   // // grid-gap: 5px;
//   // grid-auto-rows: 33%;
//   width: 15%;
//     // box-sizing: border-box;
//     // flex: 1;

// }

// .gallery-photo-col-4{
//   // display: grid;
//   // grid-auto-rows: 33%;
//   width: 15%;
//   // flex: 1;
//     // align-content: stretch;

// }

// div > img{
//   // width: 100%;
//   // height: auto;
//   // flex: 1;
//   cursor: pointer;
//   padding: 1px;
//   // margin-right: 2px;
// }


// .photo-selected{
//   position: absolute;
//   z-index: 1000;
//   width: 600px;
//   height: 500px;
//   top: -350px;
//   left: 150px;
// }

// .light-box{
//   display: none;
// }
