#root{
    font-family: 'Muli', sans-serif;

  padding-top: 30px;
  background-color: #F7F7F7;
  // height: 100%;
}


@media all and (max-width: 800px) {

  #root{
    padding: 0;
  }

  #footer {
    width: 100% !important;
  }
}