.reservation-page-container, .reservation-show-outside-container{
  font-family: 'Muli', sans-serif;
  width: 90%;
  margin: auto;
  // background-color: red;
  // height: 500px;
  // display: flex;
  background-color: white;
  box-sizing: border-box;
  padding: 32px 80px;
}

.reservation-show-outside-container{

}

.reservation-form-container{
  padding: 20px 50px;
  margin: auto;
  box-shadow: 0px 3px 11px rgba(0,0,0,0.25);
  background-color: white;
  max-width: 700px;
}

.right-container-reservation-page{
  // width: 40%;
  width: 300px;
  margin: auto;
  // background-color: blue;
  height: 300px;
    // background-image: image_url("logo-2.png") no-repeat;

}

.right-container-reservation-page > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}


.reservation-form-container > h3{
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 16px;
}

.reservation-details-container{
  // background-color: orangered;
  display: flex;
  margin-bottom: 16px;
}

.restaurant-image-container{
  width: 80px;
}

.reservation-details {
  -webkit-box-flex: 1;
    // -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  margin: 5px 16px;
}

.reservation-details > h4{
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.reservation-subheader{
  display: flex;
}

.reservation-subheader > div{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 32px 0 0;
  display: flex;
  // padding: 0 0 5px 10px;
}


.subheader-icon{
  width: 24px;
  margin-right: 10px;
  display: inline-block;
  line-height: 0;
}

.reservation-optional-input, .reservation-button{
  margin: 10px auto;
}


.privacy-policy{
  white-space: wrap;
}


.privacy-policy > strong{
  color: #DA3743;
}

.reservation-confirm-header{
  display: flex;
  // padding: 20px 0;
  margin-bottom: 10px;
  background-color: #55b68d;
  padding: 1rem 1.5rem;
}

.reservation-confirm-header > span{
  display: flex;
  padding: 0 10px;
}

.reservation-cancelled-header{
  display: flex;
  // padding: 20px 0;
  margin-bottom: 10px;
  background-color: #DA3743;
  padding: 1rem 1.5rem;
}

.reservation-cancelled-header > span{
  display: flex;
  padding: 0 10px;
}


.reservation-show-container{
  // padding: 20px 50px;
  margin: auto;
  box-shadow: 0px 3px 11px rgba(0,0,0,0.25);
  background-color: white;
  max-width: 800px;
}

.res-header-icon{
  margin: auto;
  font-size: 52px;
  color: white;
}

#reservation-show-image{
  margin-left: 15px;
}

#special-request{
  padding: 5px 15px 15px;
  color: #B5B5B5;
  border-bottom: solid 1px #d8d9db;

}

.reservation-show-header-text{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.reservation-show-header-text > p{
  font-size: 16px;
  font-weight: 400;
  margin: 0;  
}

.modify-reservation-btns{
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

.modify-reservation-btns button{
  margin-left: 10px;
  font-size: 16px;
  color: #60b2d0;
  cursor: pointer;
  font-weight: 700;
}

.modify-reservation-btns button:hover{
  color: #bb232e;
}

#edit-reservation-title{
  border: none;
}

.show-res-input{
  width: 100%;
}

.reserve-edit-form{
  display: none;
}

.is-closed{
  display: none;
}

.reservation-show-btns{
  margin-top: 15px;
  width: 250px;
}

.reservation-show-btns-container{
  max-width: 800px;
  margin: auto;
}
