
#reservation-forms{
  background-color: white;
  width: 320px;
  position: absolute;
  top: -42px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  z-index: 10;
  box-sizing: border-box;
}

.reservation-form-title{
  padding: 26px 0;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d8d9db;
}

.reservation-inputs{
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  // flex-wrap: wrap;
}

.select-party-size:before{
  content: 'for';
  color: black;
  position: absolute;
  left: 5px;
  height: 35px;
}

.select-party-size{
  align-items: center;
  display: flex;
  position: relative;
}
.date-time-reservation{
  display: flex;
  // justify-content: space-between;
}

.reservation-size, .reservation-time{
  box-sizing: border-box;
  background-color: white;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #d8d9db;
  padding: 1px 30px 0;
  height: 35px;
  width: 100%;
  font-weight: 500;
  margin-bottom: .8rem;
  cursor: pointer;

}

.reservation-labels{
  font-size: .875rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-left: 5px;
  // background-color: red;
}


#reservation-date {
  font-size: 13.33333px;
  border-bottom: 1px solid #d8d9db;
  padding: 9px 0 6px 10px;
  font-size: 13.5px;
  width: 100%;
}
input[type="date"] {
  cursor: pointer;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}


input[type="date"]::-webkit-validation-bubble-arrow{
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 100;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat;
  background-size: 10px 10px;
  color: transparent;
}


.choose-date, .choose-time{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.choose-date{
  margin-right: 10px;
  
}

#reserve-btn{
  width: 90%;
  margin: auto !important;
}

.reservation-size:hover, .reservation-time:hover, #reservation-date:hover{
  border-bottom: 1.5px solid #D1323D;
}

.available-time-slots, .available-display-slots{
  display: none;
  box-sizing: border-box;
}

.available-time-slots > h2, .available-display-slots > h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.time-slots{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  white-space: nowrap;
  // flex-wrap: wrap;
}

.time-slot-btn{
  background-color: #da3743;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  padding: 8px 15px;
  font-weight: 300;
  font-size: 14px;
}

.time-slot-btn:hover{
  background-color: #B8222E;

}

.show-page-time-slots{
  margin-bottom: 15px;
}

.show-page-time-slots > ul > li {
  padding: 10px 25px;
  width: 30%;
}
