.index-page-container{
  background-color: white;
  width: 90%;
  margin: auto;
}

.index-page{
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
}

.restaurants-index{
  background-color: white;
  font-family: 'Muli', sans-serif;
  width: 65%;
  overflow: hidden;
}

.top-index-section{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
}
.top-index-border{
  flex-grow: 1;
  border-top: 1px solid #f1f2f4;
  margin-right: 8px;
}

.top-index-text, .top-index-icon{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #6f737b;
  padding-right: 4px;
}

.top-index-icon:hover{
  color: brown;
  cursor: pointer
}

.restaurant-index-item{
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  display: flex;
  // flex-direction: row;
}

.restaurant-details > h1, .nav-reservation-details > h1{
  font-size: 1.575rem;
  font-weight: 700;
  line-height: 2rem;
  color: #247f9e;
  padding-bottom: 2px;
  white-space: nowrap;
}

.restaurant-details {
  // padding: 0 2.5%;
  padding: 0 20px;
  margin-bottom: 10px;
}

.nav-reservation-details {
  padding: 0 10px 10px;
  margin-bottom: 15px;
  position: relative;
  // box-sizing: border-box;
  // background-color: red;
}

#reservation-nav-button{
  font-size: 14px;
  color: #60b2d0;
  cursor: pointer;
  font-weight: 400;
  position: absolute; 
  right: 15px;
  bottom: -8px;
  // display: flex;
  // justify-content: flex-end;
}

#reservation-nav-button:hover{
  font-size: 14px;
  color: #DA3743;
}

.price-cuisines-city{
  // padding-top: 2px;
  // white-space: nowrap;
  margin: 5px 0;
}

.pcc {
  font-size: 14px;
  font-weight: 400;
  color: #2d333f;
  // white-space: nowrap;
  // line-height: 20px;
}


.addBulletPoint::before{
    margin-left: 8px;
    padding-right: 8px;
    content: '•';
    color: #d8d9db!important;
}

.index-image{
  width: 10vw;
  min-width: 140px;

  overflow: hidden;
  // padding-right: 10px;
}

.index-image img{
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 140px;
  

}

* {
  max-width: 100vw;
}

.index-buttons-container{
  display: flex;
  // overflow: scroll;
}

.index-buttons{
  padding: 0 4px;
  margin-top: 10px;
  border-radius: 2px;
}

.index-buttons:first-child{
  padding-left: 0;
}

.index-buttons span {
  background: #da3743;
  border: 1px solid #da3743;
  // border-radius: 4px;
  padding: 5px 10px;
  color: white; 
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
}
.index-buttons span:hover {
  border-color: #bb232e;
  background: #bb232e;
}

.notfound{
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound > h1 {
  font-size: 100px;
  padding-top: 50px;
}

.notfound > h3 {
  font-size: 30px;
  padding-top: 25px;
}

.index-reviews{
  margin: 5px 0; 
}

@media all and (max-width: 1100px) {
  .index-page{
    width: 100%;
  }
}