.splash-form-container{
  margin: auto;
  width: 90%;
  background-color: turquoise;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  
}

.splash-form-title{
  text-align: center;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.splash-form > form {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-date-time-size{
  width: 540px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #B5B5B5;

}

// // .splash-date-time-size > div{
// //   // margin-right: 10px;;
// //   background-color: white;
// //   border-right: 1px solid rgba(0,0,0,0.08);
// //   padding: .5rem;
  
// // }

.splash-date{
  display: flex;
  justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  width: 180px;
  // border: 1px solid #B5B5B5;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  color: #3C3C3C;
  box-sizing: border-box;
  position: relative;
  padding-left: 30px;
}



.splash-time, .splash-size{
  display: flex;
  justify-content: center;
  height: 48px;
  width: 180px;
  border: 1px solid #B5B5B5;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  color: #3C3C3C;
  box-sizing: border-box;
  border: 0;
  margin: auto;
  position: relative;
}

.splash-clock-icon{
  position: absolute;
  font-size: 16px;
  left: 25px;
  top: 16px;
  color: #B5B5B5;
}

.splash-party-icon{
  position: absolute;
  font-size: 14px;
  left: 40px;
  top: 18px;
  color: #B5B5B5;
}

.splash-calendar-icon{
  position: absolute;
  font-size: 16px;
  left: 15px;
  top: 17px;
  color: #B5B5B5;
}

.splash-location-icon{
  position: absolute;
  font-size: 21px;
  left: 17px;
  top: 11px;
  color: #B5B5B5;
}

.splash-time > select, .splash-size > select {
  border: 0;
  display: flex;
  // justify-content: space-between;
  padding: 0 60px;
}

.splash-location-container{
  width: 540px;
  // margin:auto;
  position: relative;
}

.splash-location-select{
  height: 48px;
  width: 100%;
  border: 1px solid #B5B5B5;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  color: #3C3C3C;
  padding-left: 45px;
  box-sizing: border-box;
}

#splash-btn{
  width: 540px;
  height: 48px;
  margin-top: .6rem;
  padding: 0;
}